<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ lobby.id }}
        </title>
        <script src="{{url_for('static', filename='lobby_join.js')}}"></script>
    </head>
    <body>
        <div>
            <h1>
                join {{ lobby.id }} 
                you are {{player.id}}
            </h1>
        </div>
        <div>
            {% for i in lobby.players %}
            <li>
                {{i.name}} id:{{i.id}} ip:{{i.ip}}
            </li>
            {% endfor %}
        </div>
    </body>
</html>